@model OrderViewModel
@{
    ViewData["Title"] = "Order";
}


<h1>My Order</h1>
@if (Model == null)
{


    <span>No Items here</span>
}
else
{
    <h2>Order ID : @Model.OrderId</h2>


    <div>

        @foreach (var oi in Model.OrderItems)
        {
            <div>
                <img src="@oi.Product.ImageUrl" alt="Alternate Text" width="100px" height="100px" />
                <span>@oi.Product.Name</span> <span>Price: @oi.Product.Price $</span>
                <span>Quantity: @oi.Quantity</span>
            </div>
        }

        <div><span>Total: @Model.OrderItems.Sum(oi => oi.Product.Price) $</span></div>

        <button>Make Order</button>


    </div>

}

